<html>
  <head>
    <meta charset="utf-8">
    <title>traverson-angular example &mdash; using traverson-angular with
    browserify</title>
    <link rel="stylesheet" type="text/css" href="../assets/bootstrap.min.css">
    <script src="bundle.js"></script>
  </head>
  <body>
    <div class="container" ng-app="traverson-angular-browserify-example">
      <div class="jumbotron">
        <h1>Traverson-angular with Browserify</h1>
        <p><a href="https://github.com/basti1302/traverson">Traverson</a> makes
        it easy to work with REST/HATEOAS APIs. It works in Node.js as well as
        in the browser. <strong>traverson-angular</strong> makes it easy to
        integrate Traverson into your AngularJS application. This example shows
        how to use traverson-angular with Browserify. It talks to the local
        Traverson test server.</p>
        <p>There is also an example on how to use traverson-angular without
        browserify: <a href="../index.html">Non-browserify Example</a> and an
        example using the <a href="../github.html">GitHub API</a> with
        traverson-angular.
        </p>
      </div>

      <small>
        <p>
        You need to start the test server contained in the traverson-angular
        repository with <tt>node bin/start-test-server.js</tt>. This
        serves this page as well as the REST API that is used in the examples.
        Open the URL
        <a href="http://localhost:2808/static/browser/example/browserify/index.html">
        http://localhost:2808/static/browser/example/browserify/index.html</a>
        in your browser. If the URL in your browser's address bar says
        <tt>file:...</tt> the examples on this page will <em>not</em> work.
        </p>
      </small>

      <h2>Setup</h2>
      <div ng-controller="generalSetup" ng-bind-html="code">
        <img src="../assets/spinner.gif"/>
      </div>

      <hr>

      <h2>Plain Vanilla Link Following</h2>
      <div class="row" ng-controller="plainVanillaController">
        <div ng-bind-html="code" class="col-md-4">
          <img src="../assets/spinner.gif"/>
        </div>
        <div class="col-md-2">
          <a ng-click="start()" class="btn btn-primary" role="button">Start Request</a>
        </div>
        <pre ng-bind="response" class="col-md-6"></pre>
      </div>
      <hr>

      <h2>JSONPath</h3>
      <div class="row" ng-controller="jsonPathController">
        <div ng-bind-html="code" class="col-md-4">
          <img src="../assets/spinner.gif"/>
        </div>
        <div class="col-md-2">
          <a ng-click="start()" class="btn btn-primary" role="button">Start Request</a>
        </div>
        <pre ng-bind="response" class="col-md-6"></pre>
      </div>
      <hr>

      <h2>URI Templates</h2>
      <div class="row" ng-controller="uriTemplateController">
        <div ng-bind-html="code" class="col-md-4">
          <img src="../assets/spinner.gif"/>
        </div>
        <div class="col-md-2">
          <a ng-click="start()" class="btn btn-primary" role="button">Start Request</a>
        </div>
        <pre ng-bind="response" class="col-md-6"></pre>
      </div>
      <hr>

      <h2>HAL</h2>
      <div class="row" ng-controller="jsonHalController">
        <div ng-bind-html="code" class="col-md-4">
          <img src="../assets/spinner.gif"/>
        </div>
        <div class="col-md-2">
          <a ng-click="start()" class="btn btn-primary" role="button">Start Request</a>
        </div>
        <pre ng-bind="response" class="col-md-6"></pre>
      </div>
    </div>
  </body>
<
